@using Domain.Entities
@model Reservation

<form id="postForm" method="post" asp-controller="User" asp-action="ReservationSuccess">
    <input type="hidden" name="id" value="@Model.Id" />
</form>

<script>
    document.getElementById("postForm").submit();
</script>
